In [2]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [33]:
#!pip install notebook --upgrade
!pip install --upgrade pip --user

Requirement already up-to-date: pip in c:\users\oii\anaconda3\lib\site-packages (19.3.1)

In [3]:
from sklearn.model_selection import train_test_split

#import train and test files
train=pd.read_csv("D:/bm/train.csv")
test=pd.read_csv("D:/bm/test.csv")

In [9]:
train.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.695633,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Medium,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Medium,Tier 2,Supermarket Type1,4710.5350

In [35]:
#est.head(20)
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [4]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [5]:

#test.isnull().sum()
test['Item_Weight'].fillna((test['Item_Weight'].mean()), inplace=True)
test["Outlet_Size"].fillna("Medium",inplace=True)
train['Item_Weight'].fillna((train['Item_Weight'].mean()), inplace=True)
train["Outlet_Size"].fillna("Medium",inplace=True)

In [6]:
#import linear regression from sklearn
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()

In [7]:
#splitting nto training and into cv for cross validation
X=train.iloc[:,[5,7]]
x_train,x_cv,y_train,y_cv=train_test_split(X,train.Item_Outlet_Sales)
print(X)

      Item_MRP  Outlet_Establishment_Year
0     249.8092                       1999
1      48.2692                       2009
2     141.6180                       1999
3     182.0950                       1998
4      53.8614                       1987
5      51.4008                       2009
6      57.6588                       1987
7     107.7622                       1985
8      96.9726                       2002
9     187.8214                       2007
10     45.5402                       1999
11    144.1102                       1997
12    145.4786                       1999
13    119.6782                       1997
14    196.4426                       1987
15     56.3614                       1997
16    115.3492                       2009
17     54.3614                       1999
18    113.2834                       1985
19    230.5352                       2004
20    250.8724                       1987
21    144.5444                       1985
22    196.5084                       2004
23    107.6938                       1985
24    165.0210                       1997
25     45.9060                       2007
26     42.3112                       2004
27     39.1164                       1987
28     45.5086                       1998
29     43.6454                       1985
...        ...                        ...
8493  189.1872                       2007
8494  110.4912                       2007
8495  160.4920                       2004
8496  185.3582                       2007
8497  150.0050                       2004
8498  124.5730                       2009
8499  100.0042                       2004
8500  125.1678                       2007
8501  100.4358                       2007
8502  216.4192                       2002
8503  120.1756                       2004
8504  111.7544                       1985
8505  210.8244                       2009
8506  263.1910                       2009
8507  101.7990                       2004
8508  199.4742                       2002
8509  213.9902                       1998
8510  231.5984                       2004
8511  262.5910                       2009
8512  178.3028                       1987
8513   99.9042                       2004
8514   57.5904                       2002
8515  157.5288                       2009
8516   58.7588                       2009
8517  178.8318                       1997
8518  214.5218                       1987
8519  108.1570                       2002
8520   85.1224                       2004
8521  103.1332                       2009
8522   75.4670                       1997

[8523 rows x 2 columns]

In [8]:
#train model
lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [10]:
pred = lreg.predict(x_cv)
print(pred)

[ 3171.76860298  2363.55346019  1588.29795969 ...,  2941.61511044
  1877.62185402  1264.50206793]

In [13]:
mse = np.mean((pred - y_cv)**2)
print(mse)

1868769.7758976712

In [ ]:
rms=np.sqrt(np.mean(np.power((np.array(target-pred),2))